header {
    display: flex;
}

.title {
    font-family: 'Combo', cursive;
    font-size: 50px;
}

.logo {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    padding: 20px;
}

.game {
    margin-top: 50px;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

button {
    text-decoration: none;
    background: white;
    border: none;
    cursor: pointer;
    padding: 0px;
}

.round-result {
    padding-top: 80px;
    text-align: center;
    font-size: 40px;
    font-family: 'Combo', cursive;
}

.winner-declaration {
    text-align: center;
    font-size: 40px;
    font-family: 'Combo', cursive;
}

.scores {
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    font-family: 'Combo', cursive;
    padding-top: 30px;
}

.player-score {
    padding-left: 20px;
}

.computer-score {
    padding-right: 20px;
}

button:hover,
button:focus {
    transform: scale(0.96);
}

button:active {
    transform: scale(0.92);
}